# Ignore the following types of files.

# Compiled source #
###################
*.exe
*.o
*.so
*.obj

# Eclipse specifics #
###################
*.cproject
*.project
Release
Debug
.settings

# OS specifics #
###################
Thumbs.db

# C files, since it's not a repo for code #
*.cpp
*.c
*.cc

# KiCad backup files #
*.bak
*.bck

# Ignore KiCad rescue libs files #
*rescue.lib

# Ignore KiCad footprint lib table files
*fp-lib-table
